@model SCWeb.Models.FOBJS_FK
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="~/js/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <button class="layui-btn layui-btn-sm" onclick="Refob()"><i class="layui-icon"></i></button>
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header"></div>
            <div class="layui-card-body">
                <div>
                    <div>
                        <img id="img1" src="" style="width:400px" height="300px" center;display:block' />
                    </div>
                    <table style="margin-top:50px;">
                        <tr>
                            <td><label class="layui-form-label" style="width:auto">年份</label></td>
                            <td> <div class="layui-form-item" style="width:200px"><input type="text" name="title" id="year" lay-verify="title" autocomplete="off" placeholder="" class="layui-input" style="width:200px"></div></td>
                            <td><label class="layui-form-label" style="width:auto">季节</label></td>
                            <td> <div class="layui-form-item" style="width:200px"><input type="text" name="title" id="jijie" lay-verify="title" autocomplete="off" placeholder="" class="layui-input" style="width:200px"></div></td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td><label class="layui-form-label" style="width:auto">款号</label></td>
                            <td> <div class="layui-form-item" style="width:200px"><input type="text" name="title" id="spdm" lay-verify="title" autocomplete="off" placeholder="" class="layui-input" style="width:200px"></div></td>
                            <td><label class="layui-form-label" style="width:auto">波段</label></td>
                            <td> <div class="layui-form-item" style="width:200px"><input type="text" name="title" id="bd" lay-verify="title" autocomplete="off" placeholder="" class="layui-input" style="width:200px"></div></td>
                        </tr>
                        <tr></tr>
                    </table>
                    <div class="layui-input-block" id="jz">
                        <button class="layui-btn" onclick="SUB()" style="margin-right:50px" id="dtn1">提交</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/js/layui-v2.4.5/layui/layui.js"></script>
    <script src="~/js/DataTableExtend.js"></script>
    <script src="~/js/Js扩展.js"></script>
    <style>
        #jz {
            margin: auto;
            /*width: 320px;
            height: 10px;*/
            margin-top: 30px;
            text-align: center;
            /*border: 1px solid #F00*/
        }
    </style>
    <script type="text/javascript">
        $(function () {
            layui.use(['element', 'layer', 'table'], function () {
            });
            $("#year").val(GetQueryString("YearCode"));
            $("#jijie").val(decodeURI(GetQueryString("SeasonName")));
            $("#spdm").val(GetQueryString("Code"));
            $("#bd").val(decodeURI(GetQueryString("Property02")));
            $.ajax({
                url: '/FOBGhs/ShowImg/',
                type: 'post',
                data: {
                    spdm: GetQueryString("Code")
                },
                success: function (data) {
                    $('#img1').attr("src", data);
                }
            });
        });
        function SUB() {
            layer.confirm('确认提交吗？', function () {
                $.ajax({
                    url: '/TTTTTT/EDitIndex/',
                    type: 'post',
                    data: {
                        jijie: $("#jijie").val(),
                        spdm: $("#spdm").val(),
                        bd: $("#bd").val()
                    },
                    success: function (data) {
                        if (data == "y") {
                            layer.msg('提交成功!', { icon: 1, time: 1500 }, function () {
                                //window.history.go(-1);
                                Refob();
                            });
                        }
                        else {
                            layer.msg('提交失败!', { icon: 1, time: 1500 }, function () {
                                Refob();
                            });
                        }
                    }
                })
            });

        }
        function Refob() {
            location.href = "/TTTTTT/Index/";
        }
    </script>
</body>
</html>
