<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="~/js/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
</head>

<body>
    <table id="t1">
        <tr>
            <td><input type="text" name="title" id="year" lay-verify="title" autocomplete="off" placeholder="请输入年份" class="layui-input" style="width:200px"></td>
            <td style="width:200px">
                <form class="layui-form">
                    <select name="interest" lay-verify="required" id="jijie" placeholder="请选择季节">
                        <option value="">请选择季节</option>
                        <option value="春季">春季</option>
                        <option value="夏季">夏季</option>
                        <option value="秋季">秋季</option>
                        <option value="冬季">冬季</option>
                    </select>
                </form>
            </td>
        </tr>
    </table>
    <table id="t1">
        <tr>
            <td><input type="text" name="title" id="namebd" lay-verify="title" autocomplete="off" placeholder="请输入波段" class="layui-input" style="width:200px">
            <td>
                <input type="text" name="title" id="namespdm" lay-verify="title" autocomplete="off" placeholder="请输入款号" class="layui-input" style="width:200px">
            </td>
            <td><button class="layui-btn layui-btn-normal" id="sell1" onclick="Load()">查询</button></td>
        </tr>
    </table>
    <table class="layui-table" id="test" lay-filter="test"></table>
    <table class="layui-table" id="test1" lay-filter="test1"></table>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/js/layui-v2.4.5/layui/layui.js"></script>
    <script src="~/js/DataTableExtend.js"></script>
    <script src="~/js/Js扩展.js"></script>
    <style>
        #sell1 {
            margin-left: 50px;
            margin-top: -50px;
        }

        #t1 td {
            padding: 5px;
        }
    </style>
    <script type="text/javascript">

        $(function () {
            Load();
        });
        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                Load();
            }
        });
        layui.use('table', function () {
            var table = layui.table;
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                if (obj.event === 'sh1') {
                    // location.href = encodeURI(
                    //"/FOBGhs/Edit/?GCMC=" + data.GCMC + "&HTH=" + data.HTH + "&SPDM=" + data.SPDM
                    //    + "&JE=" + data.JE + "&ZT=" + data.ZT + "&SHzt=" + data.SHzt + "&TJzt=" + data.TJzt + "&Money_1=" + data.Money_1
                    //    + "&SHzt2=" + data.SHzt2 + "&Remark=" + data.remark + "&GHSDM=" + data.GHSDM);
                    location.href = encodeURI(
                        "/TTTTTT/Edit/?YearCode=" + data.YearCode + "&Property02=" + data.Property02 + "&Code=" + data.Code
                        + "&SeasonName=" + data.SeasonName);
                }
            });
        });

        function Load() {
            layui.use(['util', 'table', 'layer'], function () {
                var table = layui.table;
                table.render({
                    elem: '#test'
                    , url: '/TTTTTT/List/',
                    toolbar: '#toolbarDemo',
                    height: 650,
                     cellMinWidth: 50,
                    where: {
                        year: $("#year").val(),
                        jijie: $("#jijie").val(),
                        namespdm: $("#namespdm").val(),
                        //jijie: $("#jijie").val(),
                    },
                    page: true,
                    even: true,
                    cols: [[
                        { type: 'checkbox', fixed: true, align: 'center' },
                        { field: 'YearCode', title: '年份', align: 'center'},
                        { field: 'SeasonName', title: '季节', align: 'center'},
                        { field: 'Code', title: '款号', align: 'center'},
                        { field: 'Property02', title: '波段', align: 'center'},
                        { field: 'BigTypeName', title: '大类', align: 'center'},
                        { field: 'Name', title: '款式名称', align: 'center'},
                        {
                            fixed: 'right', title: '操作', align: 'center',
                            templet: function (d) {
                                return '<button class="layui-btn layui-btn-warm layui-btn-xs" lay-event="sh1" >编辑</button>';
                            }
                        }
                    ]],
                    limit: 100,
                    limits: [100, 500, 1000],
                });
            });
        };
    </script>
</body>
</html>