<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="~/js/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <table>
        <tr>
            <td>
                <input type="text" name="title" id="name111" lay-verify="title" autocomplete="off" placeholder="请输入合同编号" class="layui-input" style="width:200px">
                @*<td>
                        <form class="layui-form">
                            <select name="interest" lay-verify="required" id="selectzt" placeholder="请输入合同编号">
                                <option value="">请选择付款状态</option>
                                <option value="1">已付20%定金额</option>
                                <option value="2">已付70%中期款</option>
                                <option value="3">已付尾款</option>
                            </select>
                        </form>
                    </td>*@
            <td>
                <button class="layui-btn layui-btn-normal" id="sell1" onclick="Load()">查询</button>
            </td>
        </tr>

    </table>
    @*<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>标题</legend>
    </fieldset>*@
    @*<form class="layui-form">
        <select name="interest" lay-verify="required" id="selectzt" placeholder="请输入合同编号" style="width:200px">
            <option value="">请选择付款状态</option>
            <option value="1">已付20%定金额</option>
            <option value="2">已付70%中期款</option>
            <option value="3">已付尾款</option>
        </select>
    </form>
    <div class="layui-upload">
        <button type="button" class="layui-btn layui-btn-normal" id="test8">选择文件</button>
        <button type="button" class="layui-btn" id="test9">开始上传</button>
    </div>*@
    <table class="layui-table" id="FOB" lay-filter="FOB"></table>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/js/layui-v2.4.5/layui/layui.js"></script>
    <script src="~/js/DataTableExtend.js"></script>
    <script src="~/js/Js扩展.js"></script>
    <script type="text/javascript">
        $(function () {
            Load();
            $(document).keyup(function (event) {
                if (event.keyCode == 13) {
                    Load();
                }
            });
        });
        layui.use(['table', 'upload', 'element'], function () {
            var table = layui.table;
            var element = layui.element;
            var $ = layui.jquery
                , upload = layui.upload;
            table.on('tool(FOB)', function (obj) {
                var data = obj.data;
                if (obj.event === 'sh1') {
                    location.href = encodeURI(
                        "/FOBdx/Edit/?GCMC=" + data.GCMC + "&HTH=" + data.HTH + "&SPDM=" + data.SPDM + "&GGMC=" + data.GGMC + "&htje=" + data.htje
                        + "&GHSDM=" + data.GHSDM);
                }
            });
            //upload.render({
            //    elem: '#test8'
            //    , url: '/FOBdx/ImportExcel/',
            //    data: {}
            //    , auto: false,
            //    accept: 'file',
            //    acceptMime: '.xls,.xlsx'
            //    //,multiple: true
            //    , bindAction: '#test9'
            //    , done: function (res) {
            //        if (res.msg == 'success') {
            //            layer.msg('上传成功!', { icon: 1, time: 1500 }, function () {
            //                //window.history.go(-1);
            //            });
            //        }
            //        else if ((res.msg == 'error')) {
            //            layer.msg('上传失败!', { icon: 1, time: 1500 }, function () {
            //                //window.history.go(-1);
            //            });
            //        }
            //    }


            //});
        });
        function Load() {
            layui.use(['util', 'table', 'layer', 'upload'], function () {
                var table = layui.table;
                table.render({
                    elem: '#FOB'
                    , url: '/FOBdx/IndexList/',
                    toolbar: '#toolbarDemo',
                    height: 590,
                    totalRow: true,
                    where: {
                        Name: $("#name111").val(),
                        selectzt: $("#selectzt").val()
                    },
                    page: true,
                    even: true,
                    cols: [[
                        //{ type: 'checkbox', fixed: true },
                        { field: 'BYZD8', title: '年份', width: 65, fixed: 'left', unresize: true, sort: true, totalRowText: '合计'}
                        , { field: 'JJMC', title: '季节', width: 60 },
                        { field: 'SXMC', title: '波段', width: 60 },
                        { field: 'GCMC', title: '加工工厂', width: 100 },
                        { field: 'GHSDM', title: '供货商代码', width: 100, hide: true },
                        { field: 'HTH', title: '合同编号', width: 135 },
                        { field: 'SPDM', title: '款式编号', width: 135 },
                        { field: 'GGMC', title: '颜色', width: 135 },
                        { field: 'htsl', title: '合同数量', width: 105, totalRow: true },
                        { field: 'htje', title: '合同金额', width: 105, totalRow: true },
                        { field: 'JHSL', title: '入库数量', width: 105, totalRow: true  },
                        { field: '', title: '退货数量', width: 115, totalRow: true },
                        { field: '', title: '结算数量', width: 115, totalRow: true },
                        { field: '', title: '单价', width: 115 },
                        { field: '', title: '结算金额', width: 115, totalRow: true },
                        //{
                        //    field: 'hsje', title: '含税金额', width: 115, hide: true
                        //    , templet: function (d) {
                        //        if (JSON.stringify(d.hsje) == "{}") {
                        //            return 0;
                        //        }
                        //    }
                        //},
                        //{ field: 'Money_1', title: '20%定金额', width: 105, style: "color: #000000;" },
                        //{ field: 'Money_2', title: '70%中期款', width: 105, style: "color: #000000;" },
                        //{ field: 'Money_3', title: '10%尾款', width: 100, style: "color: #000000;" },
                        //{
                        //    field: 'SHzt', title: '付款状态', width: 135, style: "color: #EA0000; font-weight:bold;"
                        //    , templet: function (d) {
                        //        if (d.SHzt == 1) {
                        //            return "已付20%定金额";
                        //        }
                        //        else if (d.SHzt == 2) {
                        //            return "已付70%中期款";
                        //        }
                        //        else if (d.SHzt == 3) {
                        //            return "已付尾款";
                        //        }
                        //        else {
                        //            return "";
                        //        }
                        //    }
                        //},
                        //{ field: 'ZT', title: '是否开票', width: 100, hide: true },
                        {
                            fixed: 'right', title: '操作', align: 'center',
                            templet: function (d) {
                                //layui - btn - disabled

                                return ' <button class="layui-btn layui-btn-warm layui-btn-xs" lay-event="sh1">审核</button>'

                            }
                        }
                    ]],
                    limit: 50,
                    limits: [50, 100, 1000],
                    //done: function (res, curr, count) {
                    //    $(".layui-table th").css("font-weight", "bold");
                    //    LayUIDataTable.SetJqueryObj($);
                    //    var currentRowDataList = LayUIDataTable.ParseDataTable(function (index, currentData, rowData) {
                    //        //console.log("当前页数据条数:" + currentRowDataList.length)
                    //        //console.log("当前行索引：" + index);
                    //        //console.log("触发的当前行单元格：" + currentData);
                    //        //console.log("当前行数据：" + JSON.stringify(rowData));
                    //        //var msg = '<div style="text-align: left"> 【当前页数据条数】'
                    //        //    + currentRowDataList.length + '<br/>【当前行索引】' + index + '<br/>【触发的当前行单元格】'
                    //        //    + currentData + '<br/>【当前行数据】' + JSON.stringify(rowData) + '</div>';
                    //        //layer.msg(msg)
                    //    })
                    //    $.each(currentRowDataList, function (index, obj) {
                    //        /*
                    //           * 通过遍历表格集合，拿到每行数据对象obj，通过obj["列名"]["row"]可以拿到行对象，obj["列名"]["cell"]可以拿到单元格对象
                    //           * */
                    //        switch (obj["SHzt"]["value"]) {
                    //            case "已付20%定金额":
                    //                obj['HTH']["row"].css("background-color", "#FFD1A4");
                    //                obj["HTH"]["cell"].css("font-weight", "bold");
                    //                break;
                    //            case "已付70%中期款":
                    //                obj['HTH']["row"].css("background-color", "#96FED1");
                    //                obj["HTH"]["cell"].css("font-weight", "bold");
                    //                break;
                    //            case "已付尾款":
                    //                obj['HTH']["row"].css("background-color", "#E6CAFF");
                    //                obj["HTH"]["cell"].css("font-weight", "bold");
                    //                break;
                    //        }
                    //    });
                    //}
                });

            });
        };
    </script>
</body>
</html>
