<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="~/js/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <table>
        <tr>
            <td>
                <input type="text" name="title" id="spyear" lay-verify="title" autocomplete="off" placeholder="请输入年份" class="layui-input" style="width:200px">

            <td>
            <td>
                <form class="layui-form">
                    <select name="interest" lay-verify="required" id="spjijie" placeholder="请选择季节">
                        <option value="">请选择季节</option>
                        <option value="春季">春季</option>
                        <option value="夏季">夏季</option>
                        <option value="秋季">秋季</option>
                        <option value="冬季">冬季</option>
                    </select>
                </form>
            </td>
            @*<td>
                    <input type="text" name="title" id="spjijie" lay-verify="title" autocomplete="off" placeholder="请输入季节" class="layui-input" style="width:200px">

                <td>*@
            <td>
                <input type="text" name="title" id="spgc" lay-verify="title" autocomplete="off" placeholder="请输入工厂" class="layui-input" style="width:200px">

            <td>
            <td>
                <input type="text" name="title" id="name111" lay-verify="title" autocomplete="off" placeholder="请输入合同编号" class="layui-input" style="width:200px">

            <td>
            <td>
                <input type="text" name="title" id="spdm" lay-verify="title" autocomplete="off" placeholder="请输入款号" class="layui-input" style="width:200px">

            <td>
                <button class="layui-btn layui-btn-normal" id="sell1" onclick="Load()">查询</button>
            </td>
        </tr>

    </table>
    <div class="layui-btn-group demoTable" style="margin-top:10px">
        <button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-warm" style="width:80px" data-type="getCheckData" id="chek">打印</button>
    </div>
    <table class="layui-table" id="wf" lay-filter="wf"></table>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/js/layui-v2.4.5/layui/layui.js"></script>
    <script src="~/js/DataTableExtend.js"></script>
    <script src="~/js/Js扩展.js"></script>
    <script type="text/javascript">
        $(function () {
            Load();
        });
        layui.use('table', function () {
            var table = layui.table;
            table.on('tool(wf)', function (obj) {
                var data = obj.data;
                if (obj.event === 'sh1') {

                    location.href = encodeURI(
                        "/WFZZD/Edit/?GCMC=" + data.GCMC + "&hth=" + data.hth + "&SPDM=" + data.spdm + "&GGMC=" + data.GGMC + "&htje=" + data.htje
                        + "&JE=" + data.JE + "&ISfk=" + data.ISfk + "&Money_1=" + data.Money_1 + "&TJzt=" + data.TJzt + "&Remark=" + data.Remark
                        + "&KHH=" + data.KHH + "&DZ=" + data.DZ + "&ZH=" + data.ZH + "&Phone=" + data.Phone + "&SHzt2=" + data.SHzt2);
                }
                else if (obj.event === 'sh2') {
                    if (data.FKzt == 1 || data.FKzt == 2 || data.FKzt == 3) {
                        location.href = encodeURI(
                            "/WFZZD/Edit2/?GCMC=" + data.GCMC + "&hth=" + data.hth + "&SPDM=" + data.spdm + "&GGMC=" + data.GGMC + "&htje=" + data.htje
                            + "&JE=" + data.JE + "&ISfk=" + data.ISfk + "&Money_1=" + data.Money_1 + "&Money_2=" + data.Money_2 + "&TJzt=" + data.TJzt + "&Remark=" + data.Remark
                            + "&KHH=" + data.KHH + "&DZ=" + data.DZ + "&ZH=" + data.ZH + "&Phone=" + data.Phone + "&SHzt2=" + data.SHzt2);
                    }
                    else {
                        layer.msg('当前有合同未提交 请先提交!', { icon: 1, time: 1000 }, function () {
                        });
                    }
                }
                else if (obj.event === 'sh3') {
                    if (data.FKzt == 2 || data.FKzt == 3) {
                        location.href = encodeURI(
                            "/WFZZD/Edit3/?GCMC=" + data.GCMC + "&hth=" + data.hth + "&SPDM=" + data.spdm + "&GGMC=" + data.GGMC + "&htje=" + data.htje
                            + "&JE=" + data.JE + "&ISfk=" + data.ISfk + "&Money_1=" + data.Money_1 + "&Money_2=" + data.Money_2 + "&TJzt=" + data.TJzt + "&Remark=" + data.Remark
                            + "&KHH=" + data.KHH + "&DZ=" + data.DZ + "&ZH=" + data.ZH + "&Phone=" + data.Phone + "&SHzt2=" + data.SHzt2 + "&Money_3=" + data.Money_3);
                    }
                    else {
                        layer.msg('当前有合同未提交 请先提交!', { icon: 1, time: 1000 }, function () {
                        });
                    }
                }
            });
            //头工具栏事件
            var $ = layui.$, active = {
                getCheckData: function () {
                    var checkStatus = table.checkStatus('wf')
                        , data = checkStatus.data;
                    //debugger
                    if (data.length === 0) {
                        layer.msg('请选中需要打印的数据!', { icon: 1, time: 1500 }, function () {
                        });
                    }
                    else {
                        $.post('/WFDY/WFindex/', { data: JSON.stringify(data) }, function (str) {
                            layer.open({
                                type: 2
                                , title: '打印预览'
                                , area: ['1500px', '600px']
                                , shade: 0,
                                method: 'POST',
                                maxmin: true
                                //, offset: [弹窗随机坐标
                                //    Math.random() * ($(window).height() - 300)
                                //    , Math.random() * ($(window).width() - 390)
                                //],
                                , content: '/WFDY/Index/'
                                , btn: ['关闭']
                                , yes: function () {
                                    layer.closeAll();
                                }
                                , btn2: function () {
                                    layer.closeAll();
                                }
                                , zIndex: layer.zIndex
                                , success: function (layero) {
                                    layer.setTop(layero);
                                }
                            });
                        });
                    }
                }
            };
            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
        function Load() {
            layui.use(['util', 'table', 'layer'], function () {
                var table = layui.table;
                table.render({
                    elem: '#wf'
                    , url: '/WFZZD/WFIndex/',
                    toolbar: '#toolbarDemo',
                    height: 590,
                    totalRow: true,
                    where: {
                        Name: $("#name111").val(),
                        SPdm: $("#spdm").val(),
                        selectzt: $("#selectzt").val(),
                        spgc: $("#spgc").val(),
                        spyear: $("#spyear").val(),
                        spjijie: $("#spjijie").val()
                    },
                    page: true,
                    even: true,
                    cols: [[
                        { type: 'checkbox', fixed: true, fixed: 'left', unresize: true, sort: true, totalRowText: '合计'  },
                        { field: 'BYZD8', title: '年份', width: 65}
                        , { field: 'JJMC', title: '季节', width: 60 },
                        { field: 'GCMC', title: '加工工厂', width: 100 },
                        { field: 'hth', title: '合同编号', width: 135 },
                        { field: 'ZZRQ3', title: '合同签订时间', width: 115 },
                        { field: 'JHRQ', title: '合同货期时间', width: 115 },
                        { field: 'spdm', title: '款式编号', width: 135 },
                        { field: 'sdxdsl', title: '商店下单数量', width: 135, totalRow: true},
                        { field: 'SL', title: '合同数量', width: 86, totalRow: true },
                        { field: 'JE', title: '合同金额', width: 100, totalRow: true },
                        { field: 'rksl', title: '入库数量', width: 86, totalRow: true },
                        { field: 'rkrq', title: '入库时间', width: 115 },
                        { field: 'ISfk', title: '是否开票', width: 115, hide: true },
                        {
                            field: 'hsje', title: '含税金额', width: 115, hide: true
                            //, templet: function (d) {
                            //    if (JSON.stringify(d.hsje) == "{}") {
                            //        return 0;
                            //    }
                            //    else {
                            //        return d.hsje;
                            //    }
                            //}
                        },
                        {
                            field: 'Money_1', title: '定金额', width: 105, style: "color: #000000;", templet: function (d) {

                                if (d.Money_1 == 0) {
                                    return "";
                                }
                                else {
                                    return d.Money_1
                                }
                            }
                        },
                        {
                            field: 'Money_2', title: '尾款', width: 105, style: "color: #000000;", templet: function (d) {

                                if (d.Money_2 == 0) {
                                    return "";
                                }
                                else {
                                    return d.Money_2
                                }
                            }
                        },
                        {
                            field: 'Money_3', title: '应付总金额', width: 105, style: "color: #000000;", templet: function (d) {

                                if (d.Money_3 == 0) {
                                    return "";
                                }
                                else {
                                    return d.Money_3
                                }
                            }
                        },

                        {
                            field: 'TJzt', title: '提交状态', width: 135, style: "color: #EA0000; font-weight:bold;"
                            , templet: function (d) {
                                if (d.TJzt == 1) {
                                    return "已提交定金额";
                                }
                                else if (d.TJzt == 2) {
                                    return "已提交尾款";
                                }
                                else if (d.TJzt == 3) {
                                    return "已提交报账";
                                }
                                else {
                                    return "";
                                }
                            }
                        },
                        {
                            field: 'FKzt', title: '付款状态', width: 135, style: "color: #EA0000; font-weight:bold;"
                            , templet: function (d) {
                                if (d.FKzt == 1) {
                                    return "已付定金额";
                                }
                                else if (d.FKzt == 2) {
                                    return "已付尾款";
                                }
                                else if (d.FKzt == 3) {
                                    return "已付总金额";
                                }
                                else {
                                    return "";
                                }
                            }
                        },
                        { field: 'SHzt2', title: '审核状态', width: 115, hide: true },
                        { field: 'KHH', title: '开户行', width: 115 },
                        { field: 'DZ', title: '开户名', width: 115 },
                        { field: 'ZH', title: '账号', width: 115 },
                        { field: 'Phone', title: '电话', width: 115 },
                        { field: 'Remark', title: '备注', width: 115, hide: true },
                        //{ field: 'ZT', title: '是否开票', width: 100, hide: true },
                        {
                            fixed: 'right', title: '审核', align: 'center', width: 165,
                            templet: function (d) {
                                //layui - btn - disabled

                                return ' <button class="layui-btn layui-btn-warm layui-btn-xs" lay-event="sh1">定金</button>' + ' <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="sh2">尾款</button>' + '<button class="layui-btn layui-btn-xs" lay-event="sh3" >报账</button>';
                            }
                        }
                    ]],
                    limit: 20,
                    limits: [20, 50, 100, 1000],
                    done: function (res, curr, count) {
                        $(".layui-table th").css("font-weight", "bold");
                        LayUIDataTable.SetJqueryObj($);
                        var currentRowDataList = LayUIDataTable.ParseDataTable(function (index, currentData, rowData) {
                            //console.log("当前页数据条数:" + currentRowDataList.length)
                            //console.log("当前行索引：" + index);
                            //console.log("触发的当前行单元格：" + currentData);
                            //console.log("当前行数据：" + JSON.stringify(rowData));
                            //var msg = '<div style="text-align: left"> 【当前页数据条数】'
                            //    + currentRowDataList.length + '<br/>【当前行索引】' + index + '<br/>【触发的当前行单元格】'
                            //    + currentData + '<br/>【当前行数据】' + JSON.stringify(rowData) + '</div>';
                            //layer.msg(msg)
                        })
                        $.each(currentRowDataList, function (index, obj) {
                            /*
                               * 通过遍历表格集合，拿到每行数据对象obj，通过obj["列名"]["row"]可以拿到行对象，obj["列名"]["cell"]可以拿到单元格对象
                               * */
                            switch (obj["FKzt"]["value"]) {
                                case "已付定金额":
                                    obj['hth']["row"].css("background-color", "#FFD1A4");
                                    obj["hth"]["cell"].css("font-weight", "bold");
                                    break;
                                case "已付尾款":
                                    obj['hth']["row"].css("background-color", "#96FED1");
                                    obj["hth"]["cell"].css("font-weight", "bold");
                                    break;
                                case "已付总金额":
                                    obj['hth']["row"].css("background-color", "#E6CAFF");
                                    obj["hth"]["cell"].css("font-weight", "bold");
                                    break;
                            }
                        });
                    }
                });
            });
        };
    </script>
</body>
</html>
