@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="/skins/base/common.css" rel="stylesheet" type="text/css">
    <link href="/skins/base/dialog.css" rel="stylesheet" type="text/css">
    <link href="/skins/default/list.css" rel="stylesheet" type="text/css">
    <link href="/skins/default/default.css" rel="stylesheet" type="text/css">
    <link href="~/skins/Factory/myTheme.css" rel="stylesheet" />
    <link href="~/skins/Factory/defaultTheme.css" rel="stylesheet" />
</head>
<body>
    <div class="col_main">
        <!-- 列表区 开始 -->
        <div class="nsw_tools_bar f_cb top_nsw_tools_bar" style="background: rgb(255, 255, 255);">
            <ul class="nsw_check_btns f_fl">
                <li class="f_ml20 f_mlqx" id="f_mlqx">
                    <span class="sele_all"><input type="radio" class="dn"><em class="e_word"></em>全选</span>
                </li>
                <li class="f_ml20">
                    <a id="lnkBtnDel" href="###" onclick="del('/MoneyManage/SetBpmCKGLDel', '扣款管理')"><span>删除</span></a>|
                    <span class="span_add" onclick="edits(0)">新建</span>|
                    <span class="span_refresh">刷新</span>
                </li>
                <li class="f_ml20">
                    <form enctype="multipart/form-data" id="file-form">
                        <span class="" id="ETExport">Excel模版导出</span>|
                        <span class="" id="EExport">Excel数据导出</span>|
                        <span class="" id="Import" onclick="Getfile()">Excel数据导入</span>
                        <input type="file" name="filed" id="filed" values="Goodsfiled" onchange="intop(this)" style="display:none">
                    </form>
                </li>
            </ul>
        </div>
        <div class="sswin">
            <table class="sswin_table">
                <tr>
                    <td class="sswin_td1 sswin_koukuan"><span class="sspa">供应商/加工厂:</span></td>
                    <td class="sswin_td2">
                        <input type="text" id="GYSJ" class="ssinp" name="name">
                    </td>
                    <td class="sswin_td1 sswin_koukuan"><span class="sspa">单据类型:</span></td>
                    <td class="sswin_td2">
                        <input type="text" id="DJLX" class="ssinp" name="name">
                    </td>
                    <td class="sswin_td1 sswin_koukuan"><span class="sspa">单据编号:</span></td>
                    <td class="sswin_td2">
                        <input type="text" id="DJBH" class="ssinp" name="name">
                    </td>
                    <td class="sswin_td3">
                        <div class="so_btn f_csp f_fl" onclick="GetCKIndexTbody(1,'查询')"></div>
                    </td>
                </tr>

            </table>
        </div>
        <div class="grid_8 height250">
            <table class="fancyTable" id="myTable01" cellpadding="0" cellspacing="0" style="width:100%;">
                <thead id="">
                    <tr id="tabHeader" class="">
                        <th style="width:30px" class="p"><span class="cho"></span></th>
                        <th class="tcenter order" style="width:220px;">供应商/加工厂代码</th>
                        <th class="tcenter order" style="width:220px;">供应商/加工厂名称</th>
                        <th class="tcenter order">单据类型</th>
                        <th class="order">单据编号</th>
                        <th class="order" style="width:300px;">扣款原因</th>
                        <th class="tcenter order">扣款金额</th>
                        <th class="tcenter order">编辑</th>
                    </tr>
                </thead>
                <tbody id="sptbd"></tbody>
            </table>
        </div>

        <!-- 列表分页 开始 -->
        <div class="nsw_tools_bar f_cb">
            <div class="nsw_pagination f_fr f_mr20 f_cb">

                <span class="p_numb f_fl">显示数量</span>
                <select class="pageList_btn" id="pageList_btn" onchange="ShowPageCount(this, '扣款管理')">
                    <option value="16" selected="selected">16</option>
                    <option value="32">32</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>

            </div>
            <div class="nsw_pagination f_fr f_mr20 f_cb">

                <span class="p_numb f_fl">共<span id="rowsCount">0</span>条&nbsp;|&nbsp;第<span id="page">0</span>/<span id="pageCount">0</span>页</span>
                @*<select class="pageList_btn" id="pageOP"></select>*@
                <div class="pageDown_btn f_fr">
                    <span class="p_prev  disable " onclick="BackPageUpper(this, '扣款管理')" title="上一页"></span>
                    <span class="p_next  disable " onclick="BackPageLower(this, '扣款管理')" title="下一页"></span>
                </div>
            </div>
        </div>
        <!-- 列表分页 结束 -->
    </div>
    <script type="text/javascript" src="/js/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common/popup.js?v=1.1" charset="utf-8" state="complete"></script>
    <script type="text/javascript" src="/layer/layer.js"></script>
    <script type="text/javascript" src="/my97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/js/common/common.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.form.js"></script>
    <script type="text/javascript" src="/Scripts/Tian_Js.js"></script>
  
    <script type="text/javascript">

        $(function () {
            var page = "@ViewBag.page";
            GetCKIndexTbody(page, "");//绑定table

            //Excel模板导出
            $("#ETExport").click(function () {
                location.href = "@Url.Action("GetBpmCKGLExecl", "MoneyManage",new { isPot=1 })";

            });
            //Excel导出
            $("#EExport").click(function () {
                $.post("/MoneyManage/GetBpmCKGLExecl?isPot=0", {}, function (data) {
                    if (data == "Operation") {
                        layer.alert("您没有权限请和管理员联系");
                    }
                    else {
                        location.href = "@Url.Action("GetBpmCKGLExecl", "MoneyManage")";
                    }
                })
            });
        })

        function edits(oid) {
            var url = "/MoneyManage/CKEdit"
            if (oid != null) {
                url += "?oid=" + oid + "&page=" + $("#page").html();
            }
            window.location = url;
        }
        //调用flie
        function Getfile() {
            $("#filed").click();
        }

        function intop(obj) {
            importExcel($("#file-form"), $(obj), '/MoneyManage/SetBpmCKGLExecl')
        }
        function burr() {
            var where = "";
            $(".sswin_table").find(".sswin_td2").each(function () {
                if ($(this).find("input").val() != "") {
                    where += $(this).find("input").attr("id") + "|" + $(this).find("input").val() + ","
                }
            });
            if (where.length > 0)
                where = where.substring(0, where.length - 1);

            console.log(where);
            return where;
        }
        var date = new Date;
        date.setFullYear(now.getFullYear() - 2);
        alert(date)
    </script>
   
    <script src="/js/Factory/jquery.fixedheadertable.js"></script>
    <script type="text/javascript" src="/js/common/list.js"></script>
    
</body>
</html>