<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="~/js/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <style>
        #jz {
            margin: auto;
            /*width: 320px;
            height: 10px;*/
            margin-top: 30px;
            text-align: center;
            /*border: 1px solid #F00*/
        }
    </style>
    <button class="layui-btn layui-btn-sm" onclick="ReCMT()"><i class="layui-icon"></i></button>
    <div>
        <div id="jz"><b style="color:red">CMT加工对账结算单</b></div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend></legend>
        <b><label id="l1">加工厂名称:&nbsp;&nbsp;</label></b><br />
        <b><label id="l2">款号:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></b>
    </fieldset>

    <div class="layui-collapse" lay-filter="test">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">合同资料</h2>
            <div class="layui-colla-content layui-show">
                <table class="layui-table" id="cmtht" lay-filter="cmtht"></table>
            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">面料领料单</h2>
            <div class="layui-colla-content">
                <table class="layui-table" id="testmlll" lay-filter="testmlll"></table>
            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">辅料领料单</h2>
            <div class="layui-colla-content">
                <table class="layui-table" id="testmlfl" lay-filter="testmlfl"></table>
            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">入库信息</h2>
            <div class="layui-colla-content">
                <table class="layui-table" id="testrk" lay-filter="testrk"></table>
            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">成品次品信息</h2>
            <div class="layui-colla-content">
                <table class="layui-table" id="testcpcp" lay-filter="testcpcp"></table>
            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">供货商开票资料</h2>
            <div class="layui-colla-content">
                <table class="layui-table" id="testfk" lay-filter="testfk"></table>
            </div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">供货商付款资料</h2>
            <div class="layui-colla-content">
                <table class="layui-table" id="testfk1" lay-filter="testfk1"></table>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">本期付款信息</div>
            <div class="layui-card-body">
                <div>
                    <table>
                        <tr>
                            <td>
                                <label class="layui-form-label" style="width:auto">本期付款是否需要开票</label>
                            </td>
                            <td>
                                <form class="layui-form">
                                    <div class="layui-form-item" style="width:200px">
                                        <select name="interest" lay-filter="aihao" id="select1">
                                            <option value="0">请选择</option>
                                            <option value="1">是</option>
                                            <option value="2">否</option>
                                        </select>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="layui-form-label" style="width:auto">开票金额</label></td>
                            <td> <div class="layui-form-item" style="width:200px"><input type="text" name="title" id="money" lay-verify="title" autocomplete="off" placeholder="" class="layui-input" style="width:200px"></div></td>
                        </tr>
                        <tr>
                            <td><label class="layui-form-label" style="width:auto">备注</label></td>
                            <td> <div class="layui-form-item" style="width:200px"> <textarea placeholder="请输入内容" class="layui-textarea" id="remark" style="width:500px;"></textarea></div></td>
                        </tr>
                    </table>
                    <div class="layui-input-block" id="jz">
                        <button class="layui-btn" onclick="SU()" style="margin-right:50px" id="dtn1">提交</button>
                        <button class="layui-btn layui-btn-danger" onclick="SUB()" id="sh1">审核</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<table class="layui-table" id="testrk" lay-filter="testrk"></table>*@
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/js/layui-v2.4.5/layui/layui.js"></script>
    <script src="~/js/DataTableExtend.js"></script>
    <script src="~/js/Js扩展.js"></script>
    <script type="text/javascript">
        $(function () {
            LoadCMTRK();
            LoadCMTCPCP();
            Loadghs();
            LoadghsFK();
            LoadCMTMLLL();
            LoadCMTMLFL();
            LoadCMTht();
            switch (GetQueryString("ZT")) {
                case "1":
                    $("#select1").val(1);
                    break;
                case "2":
                    $("#select1").val(2);
                    break;
                case "0":
                    $("#select1").val(0);
                    break;
            }
            $("#money").val(GetQueryString("Money_1"))
            if ($("#money").val() == 0) {
                $("#money").val("");
            }
            if (GetQueryString("TJzt") == 1 || GetQueryString("TJzt") == 2 || GetQueryString("TJzt") == 3) {
                $("#dtn1").hide();
            }
            if (GetQueryString("SHzt2") == 1 || GetQueryString("SHzt2") == 2 || GetQueryString("SHzt2") == 3) {
                $("#sh1").hide();
            }
            if (decodeURI(GetQueryString("Remark")) == "null") {
                $('#remark').val("");
            } else {
                $('#remark').val(decodeURI(GetQueryString("Remark")));
            }
        });
        function ReCMT() {
            location.href = "/CPCMT/Index/"
        }
        function LoadCMTRK() {
            layui.use(['element', 'layer', 'table'], function () {
                var SPDM = GetQueryString("SPDM");
                $("#l1").text($("#l1").text() + decodeURI(GetQueryString("GCMC")));
                $("#l2").text($("#l2").text() + decodeURI(GetQueryString("SPDM")));
                var table = layui.table;
                table.render({
                    elem: '#testrk'
                    , url: '/CPCMT/IndexCMTRK/',
                    toolbar: '#toolbarDemo',
                    //height: 400,
                    page: true,
                    totalRow: true,
                    where: {
                        SPDM: SPDM
                    },
                    cols: [[
                        //{ type: 'checkbox', fixed: true },
                        { field: 'SPDM', title: '商品代码', width: 235, fixed: 'left', unresize: true, sort: true, totalRowText: '合计' },
                        { field: 'SPMC', title: '商品名称', width: 285 },
                        { field: 'DM2', title: '仓库名称', width: 135 },
                        { field: 'col', title: '颜色', width: 165 },
                        { field: 'cm', title: '尺码', width: 165 },
                        //{ field: '', title: '合同数量', width: 165, totalRow: true, style: 'background-color: #009688; color: #fff;' },
                        //{ field: '', title: '合同时间', width: 125 },
                        { field: 'RKsl', title: '入库数量', width: 125, totalRow: true, style: 'background-color: #009688; color: #fff;' },
                        { field: 'RQ', title: '入库时间', width: 125 }

                    ]],
                    limit: 20,
                    limits: [20, 40, 60, 80, 1000],
                });
            });
        }
        function LoadCMTht() {
            layui.use(['element', 'layer', 'table'], function () {
                var SPDM = GetQueryString("SPDM");
                var HTH = GetQueryString("HTH");
                var table = layui.table;
                table.render({
                    elem: '#cmtht'
                    , url: '/CPCMT/IndexCMTHT/',
                    toolbar: '#toolbarDemo',
                    //height: 400,
                    page: true,
                    totalRow: true,
                    where: {
                        SPDM: SPDM,
                        HTH: HTH
                    },
                    cols: [[
                        //{ type: 'checkbox', fixed: true },
                        { field: 'SPDM', title: '商品代码', width: 235, fixed: 'left', unresize: true, sort: true, totalRowText: '合计' },
                        { field: 'JHRQ', title: '交货日期', width: 285 },
                        { field: 'cm', title: '尺码', width: 155 },
                        { field: 'col', title: '颜色', width: 155 },
                        { field: 'XDSL', title: '商品下单数量', width: 165, totalRow: true, style: 'background-color: #009688; color: #fff;' },
                        { field: 'htsl', title: '合同签订数量', width: 165, totalRow: true, style: 'background-color: #009688; color: #fff;' },
                        { field: 'DJ', title: '含税单价', width: 125 },
                        { field: 'htje', title: '合同金额', width: 300, totalRow: true, style: 'background-color: #009688; color: #fff;' }

                    ]],
                    limit: 20,
                    limits: [20, 40, 60, 80, 1000],
                });
            });
        }
        function LoadCMTCPCP() {
            layui.use(['element', 'layer', 'table'], function () {
                var SPDM = GetQueryString("SPDM");
                var table = layui.table;
                table.render({
                    elem: '#testcpcp'
                    , url: '/CPCMT/IndexCMTCPCP/',
                    toolbar: '#toolbarDemo',
                    //height: 400,
                    page: true,
                    where: {
                        SPDM: SPDM
                    },
                    cols: [[
                        //{ type: 'checkbox', fixed: true },
                        { field: 'SPDM', title: '商品代码', width: 235 },
                        { field: 'cpsl', title: '实裁数', width: 285 },
                        { field: 'jhsl', title: '正品入库数', width: 165 },
                        { field: 'jhsl1', title: '次品入库数', width: 165 },
                        { field: '', title: '面次次品', width: 165 },
                        { field: '', title: '做工次品', width: 165 },
                        { field: '', title: '备注', width: 165 },


                    ]],
                    limit: 20,
                    limits: [20, 40, 60, 80, 1000],
                });
            });
        }
        function Loadghs() {
            layui.use(['element', 'layer', 'table'], function () {
                var GCMC = decodeURI(GetQueryString("GCMC"));
                var table = layui.table;
                table.render({
                    elem: '#testfk'
                    , url: '/MlghsMessage/IndexInfoGhs/',
                    height: 150,
                    where: {
                        GCMC: GCMC
                    },
                    cols: [[
                        //{ type: 'checkbox', fixed: true },
                        { field: 'GHSMC', title: '供货商名称', width: 235, sort: true },
                        { field: 'DZ', title: '地址', width: 285 },
                        { field: 'DH1', title: '电话', width: 165 },
                        { field: 'SH', title: '纳税人识别号', width: 225 },
                        { field: 'KHH', title: '开户行', width: 285 },
                        { field: 'ZH', title: '账号' }]],
                });
            });
        }
        function LoadghsFK() {
            layui.use(['element', 'layer', 'table', 'form'], function () {
                var GCMC = decodeURI(GetQueryString("GCMC"));
                var layer = layui.layer;
                var table = layui.table;
                table.render({
                    elem: '#testfk1'
                    , url: '/MlghsMessage/IndexInfoGhs/',
                    height: 150,
                    where: {
                        GCMC: GCMC
                    },
                    cols: [[
                        //{ type: 'checkbox', fixed: true },
                        { field: 'GHSMC', title: '公司名称', width: 235, sort: true, edit: Text },
                        { field: 'ZH', title: '银行账号', width: 285, edit: Text },
                        { field: 'KHH', title: '开户银行名称', edit: Text }]],
                });
                table.on('edit(testfk1)', function (obj) {
                    var value = obj.value //得到修改后的值
                        , data = obj.data //得到所在行所有键值
                        , field = obj.field; //得到字段
                    //$.ajax({
                    //    url: '/Test/UpdateInfoList/',
                    //    type: 'post',
                    //    data: { _ID: data.SU_ID, _Name: data.SU_Name, _PWDSetDate: data.SU_PWDSetDate },
                    //    success: function (data) {
                    //        if (data == "1") {
                    //            layer.msg('修改成功!', { icon: 1, time: 1000 }, function () {
                    //                Load();
                    //            });

                    //        }
                    //        else {
                    //            layer.msg('修改失败!', { icon: 1, time: 1000 })
                    //        }
                    //    }
                    //});
                    layer.msg('[更改后内容: ' + data.GHSMC + '] ' + field + ' 字段更改为：' + value);
                });
            });
        }
        //面料辅料
        function LoadCMTMLLL() {
            layui.use(['element', 'layer', 'table'], function () {
                var SPDM = GetQueryString("SPDM");
                var table = layui.table;
                table.render({
                    elem: '#testmlll'
                    , url: '/CPCMT/IndexCMTmL/',
                    toolbar: '#toolbarDemo',
                    //height: 400,
                    page: true,
                    where: {
                        SPDM: SPDM
                    },
                    cols: [[
                        //{ type: 'checkbox', fixed: true },
                        { field: 'MLDM', title: '面料代码', width: 235 },
                        { field: 'MLMC', title: '面料名称', width: 235 },
                        { field: 'DJYLSL', title: '单间用料', width: 285 },
                        { field: 'MLSL', title: '发货数量', width: 165 },
                        { field: 'MLTSL', title: '退料数量', width: 165 }
                    ]],
                    limit: 20,
                    limits: [20, 40, 60, 80, 1000],
                });
            });
        }
        //辅料
        function LoadCMTMLFL() {
            layui.use(['element', 'layer', 'table'], function () {
                var SPDM = GetQueryString("SPDM");
                var table = layui.table;
                table.render({
                    elem: '#testmlfl'
                    , url: '/CPCMT/IndexCMTmLfl/',
                    toolbar: '#toolbarDemo',
                    //height: 400,
                    page: true,
                    where: {
                        SPDM: SPDM
                    },
                    cols: [[
                        //{ type: 'checkbox', fixed: true },
                        { field: 'FLDM', title: '辅料代码', width: 235 },
                        { field: 'FLMC', title: '辅料名称', width: 235 },
                        { field: 'FLSL', title: '发货数量', width: 165 },
                        { field: 'FLTSL', title: '退料数量', width: 165 }
                    ]],
                    limit: 20,
                    limits: [20, 40, 60, 80, 1000],
                });
            });
        }
        function SU() {
            //var kp =;
            //var je = ;
            //var GHSDM = ;
            //var GHSMC = ;
            //var YDJH = ;
            layer.confirm('确认提交该合同吗？', function () {
                $.ajax({
                    url: '/CPCMT/CMT_TJ/',
                    type: 'post',
                    data: {
                        kp: $("#select1").val(),
                        je: $("#money").val(),
                        GCMC: decodeURI(GetQueryString("GCMC")),
                        HTH: decodeURI(GetQueryString("HTH")),
                        SPDM: GetQueryString("SPDM"),
                        remark: $("#remark").val(),
                    },
                    success: function (data) {
                        if (data == "y") {
                            layer.msg('提交成功!', { icon: 1, time: 1500 }, function () {
                                Refob();
                            });
                        }
                        else if (data == "n") {
                            layer.msg('提交失败!', { icon: 1, time: 1500 }, function () {
                                Refob();
                            });
                        }
                        else if (data == "D") {
                            layer.msg('请勿重复提交!', { icon: 1, time: 1500 }, function () {
                                Refob();
                            });
                        }
                        else if (data == "1") {
                            layer.msg('当前合同未提交或未审核!', { icon: 1, time: 1500 }, function () {
                                Refob();
                            });
                        }
                    }
                })
            });

        }
        function SUB() {
            //var kp =;
            //var je = ;
            //var GHSDM = ;
            //var GHSMC = ;
            //var YDJH = ;
            layer.confirm('确认审核该合同吗？', function () {
                $.ajax({
                    url: '/CPCMT/CMT_sh/',
                    type: 'post',
                    data: {
                        kp: $("#select1").val(),
                        je: $("#money").val(),
                        GCMC: decodeURI(GetQueryString("GCMC")),
                        HTH: decodeURI(GetQueryString("HTH")),
                        SPDM: GetQueryString("SPDM"),
                        remark: $("#remark").val(),
                    },
                    success: function (data) {
                        if (data == "y") {
                            layer.msg('审核成功!', { icon: 1, time: 1500 }, function () {
                                Refob();
                            });
                        }
                        else if (data == "n") {
                            layer.msg('审核失败!', { icon: 1, time: 1500 }, function () {
                                Refob();
                            });
                        }
                        else if (data == "D") {
                            layer.msg('审核失败!', { icon: 1, time: 1500 }, function () {
                                Refob();
                            });
                        }
                        else if (data == "1") {
                            layer.msg('当前合同未提交或未审核!', { icon: 1, time: 1500 }, function () {
                                Refob();
                            });
                        }
                    }
                })
            });

        }
        function Refob() {
            location.href = "/CPCMT/Index/"
        }
    </script>
</body>
</html>