<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="~/js/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
 
                    @*<div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="date" id="date" lay-verify="date" placeholder="请选择日期" autocomplete="off" class="layui-input">
                        </div>
                    </div>*@
    <div class="demoTable">
        <div class="layui-inline">
            <input type="text" name="title" id="demoReload" lay-verify="title" autocomplete="off" placeholder="请输入加盟商" class="layui-input" style="width:200px">
        </div>
        <div class="layui-input-inline">
            <input type="text" name="PP" id="PP" lay-verify="date" placeholder="品牌" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="text" name="year" id="year" lay-verify="date" placeholder="年份" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="text" name="jijie" id="jijie" lay-verify="date" placeholder="季节" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="text" name="boduan" id="boduan" lay-verify="date" placeholder="波段" autocomplete="off" class="layui-input">
        </div>
        <button class="layui-btn layui-btn-normal" data-type="reload">查询</button>
    </div>
    <table class="layui-table" lay-filter="demo" lay-data="{url:'/JMSdzList/IndexList/', cellMinWidth: 80, page: true,limit: 100, limits:[100,200,1000],height:700,toolbar: '#toolbarDemo',id:'idTest',even: true,totalRow: true}">
            <thead>
                <tr>
                    <th lay-data="{field:'CKMC',width:200,fixed: 'left', unresize: true, sort: true, totalRowText: '合计'}" rowspan="4">加盟商名称</th>
                    <th lay-data="{field:'BYZD8'}" rowspan="4">年份</th>
                    <th lay-data="{field:'JJMC'}" rowspan="4">季节</th>
                    <th lay-data="{field:'BYZD3'}" rowspan="4">品牌</th>
                    <th lay-data="{field:'SXMC'}" rowspan="4">波段</th>

                    <th lay-data="{field:'ZK', width:100}" rowspan="4">折扣</th>
                    <th lay-data="{field:'ddsl', width:130 , totalRow: true, style: 'background-color: #009688; color: #fff;'}" rowspan="4">订单数量</th>
                    <th lay-data="{field:'ddje', width:130 , totalRow: true, style: 'background-color: #FF9797; color: #fff;'}" rowspan="4">订单金额</th>
                    <th lay-data="{align:'center'}" colspan="6">订单内</th>
                    <th lay-data="{align:'center'}" colspan="6">订单外</th>
                    <th lay-data="{align:'center'}" colspan="6"></th>
                </tr>
                <tr>
                    <th lay-data="{align:'center'}" colspan="2">发货</th>
                    <th lay-data="{align:'center'}" colspan="2">退货</th>
                    <th lay-data="{align:'center'}" colspan="2">净发</th>
                    <th lay-data="{align:'center'}" colspan="2">发货</th>
                    <th lay-data="{align:'center'}" colspan="2">退货</th>
                    <th lay-data="{align:'center'}" colspan="2">净发</th>
                    <th lay-data="{align:'center'}" colspan="2">合计净发</th>
                    <th lay-data="{align:'center'}" colspan="2">政策支持</th>
                </tr>
                <tr>
                    <th lay-data="{field:'ddnfhsl',width:130, totalRow: true,}" rowspan="2">数量</th>
                    <th lay-data="{field:'ddnfhje',width:130, totalRow: true,}">折扣金额</th>
                    <th lay-data="{field:'ddnthsl',width:130, totalRow: true,}" rowspan="2">数量</th>
                    <th lay-data="{field:'ddnthje',width:130, totalRow: true,}">折扣金额</th>
                    <th lay-data="{field:'ddnjfsl',width:130, totalRow: true,}" rowspan="2">数量</th>
                    <th lay-data="{field:'ddnjfje',width:130, totalRow: true,}">折扣金额</th>

                    <th lay-data="{field:'ddwfhsl',width:130, totalRow: true,}" rowspan="2">数量</th>
                    <th lay-data="{field:'ddwfhje',width:130, totalRow: true,}">折扣金额</th>
                    <th lay-data="{field:'ddwthsl',width:130, totalRow: true,}" rowspan="2">数量</th>
                    <th lay-data="{field:'ddwthje',width:130, totalRow: true,}">折扣金额</th>
                    <th lay-data="{field:'ddwjfsl',width:130, totalRow: true,}" rowspan="2">数量</th>
                    <th lay-data="{field:'ddwjfje',width:130, totalRow: true,}">折扣金额</th>

                    <th lay-data="{field:'',width:100}">数量</th>
                    <th lay-data="{field:'',width:100}">金额</th>
                    <th lay-data="{field:'',width:100}">装修/道具</th>
                    <th lay-data="{field:'',width:100}">其他支持</th>
                </tr>
            </thead>
        </table>

    <table class="layui-table" id="jmsfh" lay-filter="jmsfh"></table>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/js/layui-v2.4.5/layui/layui.js"></script>
    <script src="~/js/Js扩展.js"></script>
    <script type="text/javascript">
        $(function () {
            layui.use(['util', 'table', 'layer', 'laydate'], function () {
                var table = layui.table;
                var laydate = layui.laydate;
                var $ = layui.$, active = {
                    reload: function () {
                        //执行重载
                        table.reload('idTest', {
                            page: {
                                curr: 1
                            }
                            , where: {
                                name: $("#demoReload").val(),
                                PP: $("#PP").val(),
                                year: $("#year").val(),
                                jijie: $("#jijie").val(),
                                boduan: $("#boduan").val()
                            }
                        }, 'data');
                    }
                };
                $('.demoTable .layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });

            });
        });
    </script>
</body>
</html>
